@charset "UTF-8";
@font-face {
  font-family: 'FonteLogo';
  src: url("../fonts/indie.ttf");
}

body{
  background-color: whitesmoke  !important;
  height: auto;
  width: auto;
  padding: 0px;
  margin: 0px;
 }
 
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* Formatação do cabeçalho */

header#cabecalho {
  position: fixed;
  background-color:black;
  width: 100%;
  padding: 45px;
  top: 0px; 
  left: 0px;
  right: 0px;
  box-shadow: 0 2px 2px 0px;
  z-index: 2;
}
  
header#cabecalho a {
    color: white;
    text-decoration: none;
      }
  
      header#cabecalho h1 {
        color: white;
        position: fixed;
        top: -9px;
        left: 15px;
        font-family: 'FonteLogo';
        font-size: 50px;
        
      }

      header#cabecalho ul {
        list-style: none;
        text-transform: uppercase;
        margin-top: 0px;
        position: fixed;
        top: 0px;
        left: 1150px;
    }
    
    header#cabecalho li {
        display: inline-block;
        padding: 5px;
        margin: 23px;
        transition: background-color 0.5s;
        font-size: 20px;
    }
    
    header#cabecalho li:hover {
        background-color:rgba(200,200,200,1)
    }


/* Formatação do Formulário */

form#formulario {
  margin-top: 10px;
}

form {
  width: 500px;
  margin: auto;
  margin-bottom: 50px;
  }

input {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 13pt;
}

input:hover {
  background-color: #dddddd;
}

legend {
  color: #888888;
  font-weight: bold;
  font-size: 13pt;
  font-family: sans-serif;
}

fieldset {
  border-color: #cecece;
  margin: 20px;
}

fieldset#sexo {
  width: 150px;
}

/* Formatação do Menu */

nav#menu h1 {
  font-family: 'Abel', sans-serif;
  font-size: 50px;
  margin-top: 120px;
  text-shadow: 1px 1px 1px rgba(9,8,5,.9);
  color: #212121;
  text-align: center;
}

 /* Formatação do Rodapé */

footer#rodape {
  clear: both;
  border-top: 1px solid #606060;
}

footer#rodape p {
  text-align: center;
  text-decoration: none;
}
